

.user-pic{
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-image: url('/images/profile_placeholder.png');
}

#userMenu{
  width: 40px;
  height: 40px;
}

.mdl-layout__container{
  background-image: url('/images/grey_back.png');
}

.main .game-card{
  margin: 1.5em auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: #F5F5F5;
}

.main .game-card .game-title{
  font-size: 2em;
}

.main .game-card .game-date,
.main .game-card .game-time{
  font-size: 1.5em;
  line-height: 1.5em;
}
.main .game-card .game-venue{
  font-size: 1.25em;
  line-height: 1.5em;
}

.main .game-card .choices{
  display: flex;
  padding: 16px 8px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.game-card .choices .score{
  margin-top: 5px;
  right: 20px;
}
.game-card .choices .score:after{
  background: #FFB300;
  color: rgba(0,0,0,0.5);
}

.game-card .choices .choice.selected{
  background: #009688 !important;
}

.game-card .response-tab-bar{
  justify-content: space-between;
  padding: 4px 16px;
}

.game-card .response-tab-out{
  margin-left: 20px;
}
.game-card .response-tab-in{
  margin-left: 8px;
}

.user-name{
  text-transform: capitalize;
}

.game-card .response-container .tab-panel{
  padding: 16px;
}
.game-card .response-container .tab-panel:empty::before{
  content: attr(data-placeholder);
  color: #c8c8c8;
}
.game-card .response-container .response-item{
  padding: 0 12px 0 0;
}

.game-card .new-game-tag{
  color: red;
  position: absolute;
  right: 16px;
  top: 16px;
}
